{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div
		class="page-content">
		{% include 'partials/mignature/breadcrumb.html.twig' %}
		<div class="content-block">
			<div class="section-full content-inner-2">
				<div class="container">

					<div class="row contact-box">
						<div class="section-head text-center col-md-12">
							<h2 class="text-secondry">Login</h2>
						</div>
						<form method="post" class="dzForm col-md-12">
                        	{% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
							<input type="hidden" value="Contact" name="dzToDo">
							<div class="row">
								<div class="col-md-3 col-sm-3"></div>
								<div class="col-md-6 col-sm-3">
									<div class="form-group">
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email"  placeholder="Your Email Address" required autofocus>
									</div>
								</div>
								<div class="col-md-3 col-sm-3"></div>
							</div>
							<div class="row">
								<div class="col-md-3 col-sm-3"></div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
                                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Your Email Address">
									</div>
								</div>
								<div class="col-md-3 col-sm-3"></div>
							</div>
                            {#
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me">
                                    Remember me
                                </label>
                            </div>
                            #}
							<div class="col-md-12 col-sm-12 text-center">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<button name="submit" type="submit" value="Submit" class="btn radius-xl btn-lg">Sign in<span></span>
								</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
