{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
    <div class="page-content">
		<!-- inner page banner -->
        <div class="dlab-bnr-inr" style="background-image:url(images/pattern/pattern.jpg); background-size:auto;">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">Classes</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="index.html"><i class="fa fa-home"></i></a></li>
							<li>Home</li>
							<li>Classes</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
		<!-- inner page banner END -->
        <div class="content-block">
			<div class="section-full bg-white content-inner" style="background-image:url(images/line2.png); background-size:contain;background-repeat: no-repeat;background-position: center;">
                <div class="container">
					<div class="row sp40">
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="class-item">
								<div class="class-media"> 
									<img src="images/classes/pic1.jpg" alt=""/>
									<p>
										<span>Class Time:</span> 
										08:00 am - 10:00 am
									</p>
								</div>
								<div class="class-info">
									<h4><a href="classes-details.html">Art Drawing Classes</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nulla felis ipsum.</p>
									<ul class="schedule">
										<li class="bg-blue class-size"><span>Class Size</span> <span>30 - 40</span> </li>
										<li class="bg-green years-old"><span>Years Old</span> <span>5 - 6</span> </li>
										<li class="bg-orange tution"><span>Tution Fee</span> <span>$1500</span> </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="class-item">
								<div class="class-media"> 
									<img src="images/classes/pic4.jpg" alt=""/>
									<p>
										<span>Class Time:</span> 
										08:00 am - 10:00 am
									</p>
								</div>
								<div class="class-info">
									<h4><a href="classes-details.html">The Answer To Everything.</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nulla felis ipsum.</p>
									<ul class="schedule">
										<li class="bg-blue class-size"><span>Class Size</span> <span>30 - 40</span> </li>
										<li class="bg-green years-old"><span>Years Old</span> <span>5 - 6</span> </li>
										<li class="bg-orange tution"><span>Tution Fee</span> <span>$1500</span> </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="class-item">
								<div class="class-media"> 
									<img src="images/classes/pic3.jpg" alt=""/>
									<p>
										<span>Class Time:</span> 
										08:00 am - 10:00 am
									</p>
								</div>
								<div class="class-info">
									<h4><a href="classes-details.html">The Miracle Of Education.</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nulla felis ipsum.</p>
									<ul class="schedule">
										<li class="bg-blue class-size"><span>Class Size</span> <span>30 - 40</span> </li>
										<li class="bg-green years-old"><span>Years Old</span> <span>5 - 6</span> </li>
										<li class="bg-orange tution"><span>Tution Fee</span> <span>$1500</span> </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="class-item">
								<div class="class-media"> 
									<img src="images/classes/pic5.jpg" alt=""/>
									<p>
										<span>Class Time:</span> 
										08:00 am - 10:00 am
									</p>
								</div>
								<div class="class-info">
									<h4><a href="classes-details.html">Ten Things To Know About</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nulla felis ipsum.</p>
									<ul class="schedule">
										<li class="bg-blue class-size"><span>Class Size</span> <span>30 - 40</span> </li>
										<li class="bg-green years-old"><span>Years Old</span> <span>5 - 6</span> </li>
										<li class="bg-orange tution"><span>Tution Fee</span> <span>$1500</span> </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="class-item">
								<div class="class-media"> 
									<img src="images/classes/pic2.jpg" alt=""/>
									<p>
										<span>Class Time:</span> 
										08:00 am - 10:00 am
									</p>
								</div>
								<div class="class-info">
									<h4><a href="classes-details.html">The Story Of Education </a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nulla felis ipsum.</p>
									<ul class="schedule">
										<li class="bg-blue class-size"><span>Class Size</span> <span>30 - 40</span> </li>
										<li class="bg-green years-old"><span>Years Old</span> <span>5 - 6</span> </li>
										<li class="bg-orange tution"><span>Tution Fee</span> <span>$1500</span> </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="class-item">
								<div class="class-media"> 
									<img src="images/classes/pic6.jpg" alt=""/>
									<p>
										<span>Class Time:</span> 
										08:00 am - 10:00 am
									</p>
								</div>
								<div class="class-info">
									<h4><a href="classes-details.html">The Shocking Revelation </a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nulla felis ipsum.</p>
									<ul class="schedule">
										<li class="bg-blue class-size"><span>Class Size</span> <span>30 - 40</span> </li>
										<li class="bg-green years-old"><span>Years Old</span> <span>5 - 6</span> </li>
										<li class="bg-orange tution"><span>Tution Fee</span> <span>$1500</span> </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
		</div>
    </div>
    
</div>
{% endblock %}
